{% if result.stars %}
<div class="star-list">
    <div class="line-top"></div>
    {% for star in result.stars %}
    <div class="star">
        <div class="title"><a href="/star/detail?id={{star.ID}}">{{ star.Title }}</a></div>
        <div class="attach">
            <div class="item"><span>{{ star.CreatedAt|timesince }}发布</span></div>
            {% if result.listUrl == '/star/my/list' %}
            <div class="item">
                {% if star.UpdatedAt != star.CreatedAt %}
                <span>{{ star.UpdatedAt|timesince }}更新过</span> |
                {% endif %}

                {% if star.Public %}
                <span>公开</span>
                {% else %}
                <span>隐藏</span>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% if not forloop.Last %}
    <div class="line-bottom"></div>
    {% endif %}
    {% endfor %}


    {% include "star/_pagination.html" %}

</div>
{% else %}
<div class="empty-star-list">暂无数据</div>
{% endif %}