{% extends "base.html" %}


{% block title %}
详情
{% endblock %}


{% block ext_css %}
<link rel='stylesheet' href='/static/css/fr-editor.min.css' type='text/css' />
<link rel="stylesheet" href="/static/css/star.css" />
{% endblock %}


{% block main %}
<div class="star-detail">
    {% if result.star %}
    <div class="title">{{ result.star.Title }}</div>
    <div class="attach">
        {% if user.isLogin and user.id == result.star.AuthorID %}
        {% if result.star.UpdatedAt != result.star.CreatedAt %}
        <div>
            <span>更新于 {{ result.star.UpdatedAt.Format("2006/01/02 15:04:05") }}</span>
        </div>
        {% endif %}
        <div class="publish">
            <span>发布于 {{result.star.CreatedAt.Format("2006/01/02 15:04:05")}}</span>
            <span>
                <span>{% if result.star.Public %}公开{% else %}隐藏{% endif %} |</span>
                <a href="/star/my/edit?id={{result.star.ID}}">编辑</a>
            </span>
        </div>
        {% else %}
        <div>
            <span>发布于 {{result.star.CreatedAt.Format("2006/01/02 15:04:05")}}</span>
        </div>

        {% endif %}
    </div>
    <hr>
    <div class="content">
        <div class="fr-view">
            {{ result.star.Content }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}