/* Small devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 576px) {
    body {
        margin: 0 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        margin: 0 70px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        margin: 0 120px;
    }
} 

/* X-Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin: 0 170px;
    }
}

/* XX-Large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    body {
        margin: 0 220px;
    }
}

html, body {
    height: 100%;
}

body div.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    flex-grow: 0;
    margin-top: 10px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

header nav a {
    text-decoration: none;
}

header nav .index {
    font-size: 20px;
}

header nav .item {
    font-size: 14px;
}

main {
    flex-grow: 1;
}

main .alert-warn {
    text-align: center;
    background-color: red;
    font-size: smaller;
}

main .alert-info {
    text-align: center;
    background-color: green;
    font-size: smaller;
}

footer {
    flex-grow: 0;
    font-size: x-small;
    text-align: center;
}

main .error-text {
    text-align: center;
    margin-top: 200px;
    font-size: 18px;
    color: #ccc;
}

/* fr */
.fr-class-code {
    padding: 3px !important;
}

pre {
    background-color: #ccc;
    padding: 5px;
}