/* star list */
.star-list {
    margin: 30px 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .star-list {
        margin: 30px 100px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .star-list {
        margin: 30px 180px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .star-list {
        margin: 30px 240px;
    }
}

.empty-star-list {
    margin-top: 200px;
    text-align: center;
}

.star-list .line-top {
    height: 1px;
    width: 100%;
    border-top: solid #ccc 2px;
    margin-bottom: 20px;
}

.star-list .line-bottom {
    height: 1px;
    width: 100%;
    border-top: solid #ccc 1px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.star-list .star .title {
    font-size: 18px;
    margin: 5px 0px;
}

.star-list .star .title a {
    text-decoration: none;
}

.star-list .star .attach {
    text-align: left;
    font-size: x-small;
    color: #008C8C;

    display: flex;
    justify-content: space-between;
}

/* star detail */
.star-detail {
    margin: 30px 10px;
}

.star-detail .title {
    font-size: larger;
    text-align: center;
}

.star-detail .attach {
    font-size: x-small;
    color: #008C8C;
    text-align: left;
    margin-top: 10px;
}

.star-detail .attach .publish {
    display: flex;
    justify-content: space-between;
}

.star-detail .content {
    margin-top: 30px;
}

/* add and edit */
.star-add, .star-edit {
    margin-top: 30px;
}

.star-add .label, .star-edit .label {
    font-size: smaller;
    margin: 5px 0;
}

.star-add #title, .star-edit #title {
    outline-style: none;
    border: 1px solid #ccc; 
    border-radius: 3px;
    width: calc(100% - 18px);

    padding: 8px;
    font-size: 15px;
}

.star-add #public, .star-edit #public {
    outline-style: none;
    border: 1px solid yellow;
}

.star-add .submit, .star-edit .submit {
    margin-top: 5px;
    text-align: right;
}

.star-add .title input::placeholder, .star-edit .title input::placeholder {
    font-size: 12px;
}

/* pagination */
.pagination {
    margin-top: 30px;
    font-size: 16px;

    display: inline-flex;
    flex-wrap: wrap;
}

.pagination a {
    margin-right: 15px;
    text-decoration: none;
}

.pagination a.curr-page {
    cursor: text;
    text-decoration-line: underline;
}